version: 6.61.5

type: DeclarativeSource

description: >-
  The Box Connector enables seamless data extraction from Box, allowing users to
  list, access, and synchronize files or folders from their Box cloud storage.
  This connector helps automate workflows by integrating Box data with other
  tools, ensuring efficient file management and analysis

check:
  type: CheckStream
  stream_names:
    - events

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: OAuthAuthenticator
        token_refresh_endpoint: https://api.box.com/oauth2/token
        client_id: "{{ config['client_id'] }}"
        client_secret: "{{ config['client_secret'] }}"
        refresh_token: "{{ config['refresh_token'] }}"
        grant_type: refresh_token
        access_token_name: access_token
        expires_in_name: expires_in
        refresh_request_headers:
          Content-Type: application/x-www-form-urlencoded
        refresh_request_body:
          grant_type: refresh_token
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
          inject_on_first_request: true

streams:
  - type: DeclarativeStream
    name: events
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: stream_position
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.get('next_stream_position') }}"
          stop_condition: "{{ response.chunk_size == 0 }}"
      requester:
        type: HttpRequester
        authenticator:
          type: OAuthAuthenticator
          token_refresh_endpoint: https://api.box.com/oauth2/token
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          grant_type: refresh_token
          access_token_name: access_token
          expires_in_name: expires_in
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
          refresh_request_body:
            grant_type: refresh_token
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
          client_id_name: ""
          client_secret_name: ""
          refresh_token_name: ""
          grant_type_name: ""
          token_expiry_date: ""
          token_expiry_date_format: ""
        http_method: GET
        url: https://api.box.com/2.0/events
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - entries
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          event_id:
            type:
              - string
              - "null"
          created_by:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
          created_at:
            type:
              - string
              - "null"
          recorded_at:
            type:
              - string
              - "null"
          event_type:
            type:
              - string
              - "null"
          session_id:
            type:
              - string
              - "null"
          source:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              description:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              file_version:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  sha1:
                    type:
                      - string
                      - "null"
              sequence_id:
                type:
                  - string
                  - "null"
              etag:
                type:
                  - string
                  - "null"
              sha1:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              size:
                type:
                  - number
                  - "null"
              path_collection:
                type:
                  - object
                  - "null"
                properties:
                  total_count:
                    type:
                      - number
                      - "null"
                  entries:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        id:
                          type:
                            - string
                            - "null"
                        name:
                          type:
                            - string
                            - "null"
              created_at:
                type:
                  - string
                  - "null"
              modified_at:
                type:
                  - string
                  - "null"
              content_created_at:
                type:
                  - string
                  - "null"
              content_modified_at:
                type:
                  - string
                  - "null"
              created_by:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  login:
                    type:
                      - string
                      - "null"
              modified_by:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  login:
                    type:
                      - string
                      - "null"
              owned_by:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  login:
                    type:
                      - string
                      - "null"
              parent:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
              item_status:
                type:
                  - string
                  - "null"
              is_package:
                type:
                  - boolean
                  - "null"
              synced:
                type:
                  - boolean
                  - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: sign_templates
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: marker
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.get(\"next_marker\")  }}"
          stop_condition: "{{ response.get(\"next_marker\") is none }}"
      requester:
        type: HttpRequester
        authenticator:
          type: OAuthAuthenticator
          token_refresh_endpoint: https://api.box.com/oauth2/token
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          grant_type: refresh_token
          access_token_name: access_token
          expires_in_name: expires_in
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
          refresh_request_body:
            grant_type: refresh_token
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
        http_method: GET
        url: https://api.box.com/2.0/sign_templates
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - entries
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          name:
            type:
              - string
              - "null"
          signers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                role:
                  type:
                    - string
                    - "null"
                email:
                  type:
                    - string
                    - "null"
                label:
                  type:
                    - string
                    - "null"
                order:
                  type:
                    - number
                    - "null"
                inputs:
                  type:
                    - array
                    - "null"
                public_id:
                  type:
                    - string
                    - "null"
                is_in_person:
                  type:
                    - boolean
                    - "null"
          days_valid:
            type:
              - number
              - "null"
          source_files:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                etag:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                sha1:
                  type:
                    - string
                    - "null"
                sequence_id:
                  type:
                    - string
                    - "null"
                file_version:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    sha1:
                      type:
                        - string
                        - "null"
          email_message:
            type:
              - string
              - "null"
          email_subject:
            type:
              - string
              - "null"
          parent_folder:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              etag:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              sequence_id:
                type:
                  - string
                  - "null"
          additional_info:
            type:
              - object
              - "null"
            properties:
              required:
                type:
                  - object
                  - "null"
                properties:
                  signers:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - array
                        - "null"
                      items:
                        type:
                          - string
                          - "null"
              non_editable:
                type:
                  - array
                  - "null"
          are_files_locked:
            type:
              - boolean
              - "null"
          are_fields_locked:
            type:
              - boolean
              - "null"
          are_options_locked:
            type:
              - boolean
              - "null"
          are_recipients_locked:
            type:
              - boolean
              - "null"
          are_email_settings_locked:
            type:
              - boolean
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: collections
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: OAuthAuthenticator
          token_refresh_endpoint: https://api.box.com/oauth2/token
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          grant_type: refresh_token
          access_token_name: access_token
          expires_in_name: expires_in
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
          refresh_request_body:
            grant_type: refresh_token
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
        http_method: GET
        url: https://api.box.com/2.0/collections
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - entries
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          name:
            type:
              - string
              - "null"
          collection_type:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: collection_items
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: OAuthAuthenticator
          token_refresh_endpoint: https://api.box.com/oauth2/token
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          grant_type: refresh_token
          access_token_name: access_token
          expires_in_name: expires_in
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
          refresh_request_body:
            grant_type: refresh_token
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
        http_method: GET
        url: >-
          https://api.box.com/2.0/collections/{{ stream_partition.collection
          }}/items
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - entries
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/2"
            parent_key: id
            partition_field: collection
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          etag:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          sha1:
            type:
              - string
              - "null"
          sequence_id:
            type:
              - string
              - "null"
          file_version:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              sha1:
                type:
                  - string
                  - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: sign_request
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: marker
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.get('next_marker') }}"
          stop_condition: "{{ response.get('next_marker') is none }}"
      requester:
        type: HttpRequester
        authenticator:
          type: OAuthAuthenticator
          token_refresh_endpoint: https://api.box.com/oauth2/token
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          grant_type: refresh_token
          access_token_name: access_token
          expires_in_name: expires_in
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
          refresh_request_body:
            grant_type: refresh_token
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
        http_method: GET
        url: https://api.box.com/2.0/sign_requests
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - entries
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          name:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          signers:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                role:
                  type:
                    - string
                    - "null"
                email:
                  type:
                    - string
                    - "null"
                order:
                  type:
                    - number
                    - "null"
                inputs:
                  type:
                    - array
                    - "null"
                is_in_person:
                  type:
                    - boolean
                    - "null"
                login_required:
                  type:
                    - boolean
                    - "null"
                has_viewed_document:
                  type:
                    - boolean
                    - "null"
                suppress_notifications:
                  type:
                    - boolean
                    - "null"
                verification_phone_number:
                  type:
                    - string
                    - "null"
          sign_files:
            type:
              - object
              - "null"
            properties:
              files:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    etag:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    sha1:
                      type:
                        - string
                        - "null"
                    sequence_id:
                      type:
                        - string
                        - "null"
                    file_version:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        id:
                          type:
                            - string
                            - "null"
                        sha1:
                          type:
                            - string
                            - "null"
              is_ready_for_download:
                type:
                  - boolean
                  - "null"
          prefill_tags:
            type:
              - array
              - "null"
          source_files:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                type:
                  type:
                    - string
                    - "null"
                id:
                  type:
                    - string
                    - "null"
                etag:
                  type:
                    - string
                    - "null"
                name:
                  type:
                    - string
                    - "null"
                sha1:
                  type:
                    - string
                    - "null"
                sequence_id:
                  type:
                    - string
                    - "null"
                file_version:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    sha1:
                      type:
                        - string
                        - "null"
          parent_folder:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              etag:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              sequence_id:
                type:
                  - string
                  - "null"
          are_reminders_enabled:
            type:
              - boolean
              - "null"
          are_text_signatures_enabled:
            type:
              - boolean
              - "null"
          is_document_preparation_needed:
            type:
              - boolean
              - "null"
          is_phone_verification_required_to_view:
            type:
              - boolean
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: admin_logs
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: stream_position
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.get('next_stream_position', '') }}"
          stop_condition: "{{ response.chunk_size == 0 }}"
      requester:
        type: HttpRequester
        authenticator:
          type: OAuthAuthenticator
          token_refresh_endpoint: https://api.box.com/oauth2/token
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          grant_type: refresh_token
          access_token_name: access_token
          expires_in_name: expires_in
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
          refresh_request_body:
            grant_type: refresh_token
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
        http_method: GET
        url: https://api.box.com/2.0/events?stream_type=admin_logs
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - entries
    primary_key:
      - event_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - event_id
        properties:
          type:
            type:
              - string
              - "null"
          source:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
              parent:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
              file_id:
                type:
                  - string
                  - "null"
              item_id:
                type:
                  - string
                  - "null"
              owned_by:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  login:
                    type:
                      - string
                      - "null"
              file_name:
                type:
                  - string
                  - "null"
              folder_id:
                type:
                  - string
                  - "null"
              item_name:
                type:
                  - string
                  - "null"
              item_type:
                type:
                  - string
                  - "null"
              user_email:
                type:
                  - string
                  - "null"
              folder_name:
                type:
                  - string
                  - "null"
          event_id:
            type: string
          created_at:
            type:
              - string
              - "null"
          created_by:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
          event_type:
            type:
              - string
              - "null"
          ip_address:
            type:
              - string
              - "null"
          accessible_by:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
          additional_details:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              metadata:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  operationParams:
                    type:
                      - string
                      - "null"
              role:
                type:
                  - string
                  - "null"
              size:
                type:
                  - number
                  - "null"
              task:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - number
                      - "null"
                  due_at:
                    type:
                      - string
                      - "null"
                  message:
                    type:
                      - string
                      - "null"
                  created_by:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - number
                          - "null"
                      login:
                        type:
                          - string
                          - "null"
              ekm_id:
                type:
                  - string
                  - "null"
              message:
                type:
                  - string
                  - "null"
              collab_id:
                type:
                  - string
                  - "null"
              collection:
                type:
                  - object
                  - "null"
                properties:
                  user:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - number
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      email:
                        type:
                          - string
                          - "null"
                  collection_id:
                    type:
                      - number
                      - "null"
                  collection_name:
                    type:
                      - string
                      - "null"
              comment_id:
                type:
                  - number
                  - "null"
              service_id:
                type:
                  - string
                  - "null"
              version_id:
                type:
                  - string
                  - "null"
              service_name:
                type:
                  - string
                  - "null"
              sign_request:
                type:
                  - object
                  - "null"
                properties:
                  files:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        id:
                          type:
                            - string
                            - "null"
                        name:
                          type:
                            - string
                            - "null"
                        parent:
                          type:
                            - object
                            - "null"
                          properties:
                            type:
                              type:
                                - string
                                - "null"
                            id:
                              type:
                                - string
                                - "null"
                  signer:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      login:
                        type:
                          - string
                          - "null"
                  status:
                    type:
                      - string
                      - "null"
                  requestor:
                    type:
                      - object
                      - "null"
                    properties:
                      type:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      login:
                        type:
                          - string
                          - "null"
                  redirection:
                    type:
                      - object
                      - "null"
                    properties:
                      redirect_url:
                        type:
                          - string
                          - "null"
                      declined_redirect_url:
                        type:
                          - string
                          - "null"
                  sender_message:
                    type:
                      - object
                      - "null"
                    properties:
                      message:
                        type:
                          - string
                          - "null"
                      subject:
                        type:
                          - string
                          - "null"
                  ready_sign_link:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - string
                          - "null"
                  sign_request_id:
                    type:
                      - string
                      - "null"
                  signer_ip_address:
                    type:
                      - string
                      - "null"
                  requestor_ip_address:
                    type:
                      - string
                      - "null"
                  sign_request_short_id:
                    type:
                      - string
                      - "null"
              shared_link_id:
                type:
                  - string
                  - "null"
              collection_item:
                type:
                  - object
                  - "null"
                properties:
                  item:
                    type:
                      - object
                      - "null"
                    properties:
                      file:
                        type:
                          - number
                          - "null"
                  user:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - number
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
                      email:
                        type:
                          - string
                          - "null"
                  collection_id:
                    type:
                      - number
                      - "null"
                  collection_name:
                    type:
                      - string
                      - "null"
              task_assignment:
                type:
                  - object
                  - "null"
                properties:
                  status:
                    type:
                      - string
                      - "null"
                  message:
                    type:
                      - string
                      - "null"
                  assigned_to:
                    type:
                      - object
                      - "null"
                    properties:
                      id:
                        type:
                          - number
                          - "null"
                      login:
                        type:
                          - string
                          - "null"
              original_item_id:
                type:
                  - string
                  - "null"
              invitation_message:
                type:
                  - string
                  - "null"
              original_item_name:
                type:
                  - string
                  - "null"
              original_item_type:
                type:
                  - string
                  - "null"
              sharedLinkSettings:
                type:
                  - object
                  - "null"
                properties:
                  newCanEdit:
                    type:
                      - boolean
                      - "null"
                  newCanPreview:
                    type:
                      - boolean
                      - "null"
                  newCanDownload:
                    type:
                      - boolean
                      - "null"
                  newVisibilityStatus:
                    type:
                      - string
                      - "null"
                  newIsExpirationDateSet:
                    type:
                      - boolean
                      - "null"
                  newIsPasswordProtected:
                    type:
                      - boolean
                      - "null"
              is_performed_by_admin:
                type:
                  - boolean
                  - "null"
              access_token_identifier:
                type:
                  - string
                  - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: files
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
      requester:
        type: HttpRequester
        authenticator:
          type: OAuthAuthenticator
          token_refresh_endpoint: https://api.box.com/oauth2/token
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          grant_type: refresh_token
          access_token_name: access_token
          expires_in_name: expires_in
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
          refresh_request_body:
            grant_type: refresh_token
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
        http_method: GET
        url: https://api.box.com/2.0/folders/0/items
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - entries
        record_filter:
          type: RecordFilter
          condition: "{{ record['type'] == \"file\"}}"
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          etag:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          sha1:
            type:
              - string
              - "null"
          sequence_id:
            type:
              - string
              - "null"
          file_version:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              sha1:
                type:
                  - string
                  - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: file_collaborations
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: marker
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.get('next_marker') }}"
          stop_condition: "{{ response.get('next_marker') is none }}"
      requester:
        type: HttpRequester
        authenticator:
          type: OAuthAuthenticator
          token_refresh_endpoint: https://api.box.com/oauth2/token
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          grant_type: refresh_token
          access_token_name: access_token
          expires_in_name: expires_in
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
          refresh_request_body:
            grant_type: refresh_token
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
        http_method: GET
        url: >-
          https://api.box.com/2.0/files/{{ stream_slice['file_id']
          }}/collaborations
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - entries
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/6"
            parent_key: id
            partition_field: file_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          item:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              etag:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              sha1:
                type:
                  - string
                  - "null"
              sequence_id:
                type:
                  - string
                  - "null"
              file_version:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  sha1:
                    type:
                      - string
                      - "null"
          role:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          created_by:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
          modified_at:
            type:
              - string
              - "null"
          invite_email:
            type:
              - string
              - "null"
          is_access_only:
            type:
              - boolean
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: folder_collaborations
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: marker
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.get('next_marker') }}"
          stop_condition: "{{ response.get('next_marker') is none }}"
      requester:
        type: HttpRequester
        authenticator:
          type: OAuthAuthenticator
          token_refresh_endpoint: https://api.box.com/oauth2/token
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          grant_type: refresh_token
          access_token_name: access_token
          expires_in_name: expires_in
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
          refresh_request_body:
            grant_type: refresh_token
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
        http_method: GET
        url: >-
          https://api.box.com/2.0/folders/{{ stream_slice['folder_id']
          }}/collaborations
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - entries
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/14"
            parent_key: id
            partition_field: folder_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          item:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              etag:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              sequence_id:
                type:
                  - string
                  - "null"
          role:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          created_by:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
          modified_at:
            type:
              - string
              - "null"
          invite_email:
            type:
              - string
              - "null"
          is_access_only:
            type:
              - boolean
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: file_comments
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: OAuthAuthenticator
          token_refresh_endpoint: https://api.box.com/oauth2/token
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          grant_type: refresh_token
          access_token_name: access_token
          expires_in_name: expires_in
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
          refresh_request_body:
            grant_type: refresh_token
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
        http_method: GET
        url: https://api.box.com/2.0/files/{{ stream_slice['file_id'] }}/comments
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - entries
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/6"
            parent_key: id
            partition_field: file_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          message:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          created_by:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
          is_reply_comment:
            type:
              - boolean
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: recent_items
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: marker
          inject_into: request_parameter
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.get('next_marker') }}"
          stop_condition: "{{ response.get('next_marker') is none }}"
      requester:
        type: HttpRequester
        authenticator:
          type: OAuthAuthenticator
          token_refresh_endpoint: https://api.box.com/oauth2/token
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          grant_type: refresh_token
          access_token_name: access_token
          expires_in_name: expires_in
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
          refresh_request_body:
            grant_type: refresh_token
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
        http_method: GET
        url: https://api.box.com/2.0/recent_items
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - entries
            - "*"
            - item
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          etag:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          sha1:
            type:
              - string
              - "null"
          sequence_id:
            type:
              - string
              - "null"
          file_version:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              sha1:
                type:
                  - string
                  - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: file_tasks
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        authenticator:
          type: OAuthAuthenticator
          token_refresh_endpoint: https://api.box.com/oauth2/token
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          grant_type: refresh_token
          access_token_name: access_token
          expires_in_name: expires_in
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
          refresh_request_body:
            grant_type: refresh_token
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
        http_method: GET
        url: https://api.box.com/2.0/files/{{ stream_slice['file_id'] }}/tasks
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - entries
            - "*"
            - task_assignment_collection
            - entries
            - "*"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/6"
            parent_key: id
            partition_field: file_id
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          item:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              etag:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              sha1:
                type:
                  - string
                  - "null"
              sequence_id:
                type:
                  - string
                  - "null"
              file_version:
                type:
                  - object
                  - "null"
                properties:
                  type:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  sha1:
                    type:
                      - string
                      - "null"
          status:
            type:
              - string
              - "null"
          message:
            type:
              - string
              - "null"
          assigned_at:
            type:
              - string
              - "null"
          assigned_to:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              login:
                type:
                  - string
                  - "null"
          resolution_state:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: trashed_items
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 1000
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: OAuthAuthenticator
          token_refresh_endpoint: https://api.box.com/oauth2/token
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          grant_type: refresh_token
          access_token_name: access_token
          expires_in_name: expires_in
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
          refresh_request_body:
            grant_type: refresh_token
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
        http_method: GET
        url: https://api.box.com/2.0/folders/trash/items
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - entries
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          etag:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          sha1:
            type:
              - string
              - "null"
          sequence_id:
            type:
              - string
              - "null"
          file_version:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              sha1:
                type:
                  - string
                  - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: users
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
      requester:
        type: HttpRequester
        authenticator:
          type: OAuthAuthenticator
          token_refresh_endpoint: https://api.box.com/oauth2/token
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          grant_type: refresh_token
          access_token_name: access_token
          expires_in_name: expires_in
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
          refresh_request_body:
            grant_type: refresh_token
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
        http_method: GET
        url: https://api.box.com/2.0/users
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - entries
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          name:
            type:
              - string
              - "null"
          login:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          address:
            type:
              - string
              - "null"
          language:
            type:
              - string
              - "null"
          timezone:
            type:
              - string
              - "null"
          job_title:
            type:
              - string
              - "null"
          avatar_url:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          space_used:
            type:
              - number
              - "null"
          modified_at:
            type:
              - string
              - "null"
          space_amount:
            type:
              - number
              - "null"
          max_upload_size:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: folders
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
          inject_on_first_request: true
      requester:
        type: HttpRequester
        authenticator:
          type: OAuthAuthenticator
          token_refresh_endpoint: https://api.box.com/oauth2/token
          client_id: "{{ config['client_id'] }}"
          client_secret: "{{ config['client_secret'] }}"
          refresh_token: "{{ config['refresh_token'] }}"
          grant_type: refresh_token
          access_token_name: access_token
          expires_in_name: expires_in
          refresh_request_headers:
            Content-Type: application/x-www-form-urlencoded
          refresh_request_body:
            grant_type: refresh_token
            client_id: "{{ config['client_id'] }}"
            client_secret: "{{ config['client_secret'] }}"
            refresh_token: "{{ config['refresh_token'] }}"
        http_method: GET
        url: https://api.box.com/2.0/folders/0/items
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - entries
        record_filter:
          type: RecordFilter
          condition: "{{ record['type'] == \"folder\"}}"
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - id
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: string
          etag:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          sequence_id:
            type:
              - string
              - "null"
        additionalProperties: true

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - client_id
      - client_secret
      - refresh_token
    properties:
      client_id:
        type: string
        name: client_id
        order: 0
        title: OAuth Client ID
        airbyte_secret: true
      client_secret:
        type: string
        name: client_secret
        order: 1
        title: OAuth Client Secret
        airbyte_secret: true
      refresh_token:
        type: string
        title: Refresh Token
        airbyte_secret: true
        order: 2
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://developer.box.com/reference/
  testedStreams:
    files:
      hasRecords: true
      streamHash: f2bddba5e78d73843ff573adddc0f5b664d98deb
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    users:
      hasRecords: true
      streamHash: 0e26a32514f04fae7185887ae41861452eb580f7
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    events:
      hasRecords: true
      streamHash: c2e5a0002ee07e5307398731959910589d6f8c1a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
      isStale: false
    folders:
      hasRecords: true
      streamHash: e8aee8caba4e6a759ead1aa1b2b20f27f6d690de
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    admin_logs:
      hasRecords: true
      streamHash: d29f65619562bd57f0ab2ffde25f45fe85094fed
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    file_tasks:
      hasRecords: true
      streamHash: b7cdc6e9b385a24c4f491d8b820a6924bd52070f
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    collections:
      hasRecords: true
      streamHash: 99a1e98e0e5e1f0e34c55e3c067158efc139614d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    recent_items:
      hasRecords: true
      streamHash: a220c9ba1787d7da58f2d496a76a176600c800ff
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    sign_request:
      hasRecords: false
      streamHash: a75dbf901501cd636c8087c31ea771b4aba77d65
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    file_comments:
      hasRecords: true
      streamHash: 2711d975ffe518367db630ef6dc0c2598b5cb86d
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    trashed_items:
      hasRecords: true
      streamHash: 220c9d1eb25065d60d7347c9219ae6882b3bfdb4
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    sign_templates:
      hasRecords: true
      streamHash: 4ab2165704ff19049bf1ecc510154302f122e5ba
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    collection_items:
      hasRecords: true
      streamHash: 166e60e6b8bccc1e6854a88f7ad29fe76f08a83a
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    file_collaborations:
      hasRecords: true
      streamHash: b57e258db538c594ace1cba278854f0702bbe926
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    folder_collaborations:
      hasRecords: true
      streamHash: 9154707962f8ebc5736593f901aa484ba6aa3d34
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    files: true
    users: true
    events: true
    folders: true
    admin_logs: true
    file_tasks: true
    collections: true
    recent_items: true
    sign_request: true
    file_comments: true
    trashed_items: true
    sign_templates: true
    collection_items: true
    file_collaborations: true
    folder_collaborations: true
  applied_migrations:
    - from_version: 5.16.0
      to_version: "*"
      migration: HttpRequesterUrlBaseToUrl
      migrated_at: "2025-09-04T19:56:32.961601+00:00"
    - from_version: 5.16.0
      to_version: "*"
      migration: HttpRequesterPathToUrl
      migrated_at: "2025-09-04T19:56:32.972160+00:00"

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 1
